/*
Font Styles
*/

/*
Color Palette
*/

.yllw {
	color: rgba(229, 196, 57, 1);
}
.frst {
	color: rgba(0, 91, 38, 1) ;
}
.mgta {
	color: rgba(241, 71, 94, 1);
}
.aqua {
	color: rgba(25, 158, 147, 1);
}

/*
Animations
*/
@keyframes bounce {
    0% {-webkit-transform: translate(0px, 0px);}
    25% {-webkit-transform: translate(0px, -3px);}
    50% {-webkit-transform: translate(0px, -4px);}
    75% {-webkit-transform: translate(0px, -3px);}
    100% {-webkit-transform: translate(0px, 0px);}
}
@keyframes wiggle {
    0% {-webkit-transform: rotateZ(3deg);}
    50% {-webkit-transform: rotateZ(-3deg);}
    100% {-webkit-transform: rotateZ(3deg);}
}
@-webkit-keyframes bounce {
    0% {-webkit-transform: translate(0px, 0px);}
    25% {-webkit-transform: translate(0px, -3px);}
    50% {-webkit-transform: translate(0px, -4px);}
    75% {-webkit-transform: translate(0px, -3px);}
    100% {-webkit-transform: translate(0px, 0px);}
}
@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotateZ(3deg);}
    50% {-webkit-transform: rotateZ(-3deg);}
    100% {-webkit-transform: rotateZ(3deg);}
}

/*
General Styles
*/

#interactive-wrapper {
	position: relative;
	width: 964px;
	height: 550px;
	margin: 0 auto;
	overflow: hidden;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}
#interactive-wrapper:focus {
	outline: none;
}
#interactive-wrapper .viewport {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
	overflow: hidden;
}
#interactive-wrapper .viewport .scenes {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 2750px;
}
#interactive-wrapper .viewport .scenes .scene {
	position: relative;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
}
#interactive-wrapper .viewport .scenes .scene .subscene {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
}
#interactive-wrapper .viewport .scenes .scene .mask, #interactive-wrapper .viewport .scenes .scene .img-mask {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
	opacity: 1;
	display: none;
}
#interactive-wrapper .viewport .scenes .scene .mask {
	z-index: 9999;
	cursor: pointer;
}
#interactive-wrapper .viewport .scenes .scene .interactive-element {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
	z-index: 0;
}
#interactive-wrapper .viewport .scenes .scene .interactive-element .item {
	opacity: 1;
	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-ms-transition: opacity .6s;
	-o-transition: opacity .6s;
	transition: opacity .6s;
}
#interactive-wrapper .viewport .scenes .scene .interactive-element .item.selectable:hover {
	cursor: pointer;
	animation-name: bounce;
	animation-duration: .4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	-webkit-animation-name: bounce;
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}
#interactive-wrapper .viewport .scenes .scene .interactive-element .item.selected {
	opacity: .7;
}
#interactive-wrapper .icon {
	width: 40px;
	height: 40px;
}

/*
Evergreen
*/

#evergreen .notepad {
	position: absolute;
	top: -3px;
	right: 20px;
	width: 132px;
	height: 486px;
	background-image: url("../img/elements/notepad.png");
	z-index: 1000;
	display: none;
}

/*
Progress Bar
*/

#progress-bar {
	position: absolute;
	top: 0px;
	left: 8px;
	width: 48px;
	height: 486px;
	z-index: 1000;
	display: none;
}
#progress-bar .bar {
	position: relative;
	width: 48px;
	height: 120px;
	margin: 4px 0;
}
#progress-bar .bar .bar-stem {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 12px;
	height: 104px;
	padding: 8px 0;
	background-color: rgba(42, 255, 121, .9);
}
#progress-bar .bar .bar-stem .inner {
	position: absolute;
	top: 8px;
	left: 4px;
	width: 4px;
	height: 104px;
	background-color: rgba(186, 216, 76, .5);
}
#progress-bar .bar .bar-leaf {
	position: absolute;
	top: 42px;
	left: 12px;
	height: 32px;
	width: 36px;
	border-radius: 0px 8px 8px 0px;
	background-color: rgba(94, 191, 38, .9);
	color: #ffffff;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}
#progress-bar .bar.complete .bar-stem {
	background-color: rgba(90, 117, 45, .9);
}
#progress-bar .bar.complete .bar-stem .inner {
	background-color: rgba(68, 89, 28, .5);
}

/*
Icon Collector
*/

#icon-collector {
	position: absolute;
	top: 42px;
	left: 0px;
	width: 132px;
	height: 432px;
}
#icon-collector .icons {
	position: absolute;
	top: 10px;
	left: 8px;
	width: 122px;
	height: 412px;
}
#icon-collector .icons .icon {
	float: left;
	width: 58px;
	height: 54px;
	margin: 0 2px 6px 0;
	cursor: pointer;
	animation-name: wiggle;
	animation-duration: .4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	-webkit-animation-name: wiggle;
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}
#icon-collector .icons .icon.noselect {
	cursor: default;
	opacity: .9;
}
#icon-collector .icons .icon.noselect .circle {
	stroke-width: 0px;
}

/*
Icon Collector - Unique Icons
*/

#evergreen .icon.orangejuice {
	background: url('../img/elements/icons-collector.png') 0 0;
}
#evergreen .icon.pancakes {
	background: url('../img/elements/icons-collector.png') 0 -54px;
}
#evergreen .icon.bananas {
	background: url('../img/elements/icons-collector.png') 0 -108px;
}
#evergreen .icon.apples {
	background: url('../img/elements/icons-collector.png') 0 -162px;
}
#evergreen .icon.peanutbutter {
	background: url('../img/elements/icons-collector.png') 0 -216px;
}
#evergreen .icon.corn {
	background: url('../img/elements/icons-collector.png') 0 -270px;
}
#evergreen .icon.nuts {
	background: url('../img/elements/icons-collector.png') 0 -324px;
}
#evergreen .icon.macncheese {
	background: url('../img/elements/icons-collector.png') 0 -378px;
}
#evergreen .icon.sketchpad {
	background: url('../img/elements/icons-collector.png') 0 -432px;
}
#evergreen .icon.puppy {
	background: url('../img/elements/icons-collector.png') 0 -486px;
}
#evergreen .icon.magazines {
	background: url('../img/elements/icons-collector.png') 0 -540px;
}
#evergreen .icon.flowers {
	background: url('../img/elements/icons-collector.png') 0 -594px;
}
#evergreen .icon.bike {
	background: url('../img/elements/icons-collector.png') 0 -648px;
}
#evergreen .icon.swing {
	background: url('../img/elements/icons-collector.png') 0 -702px;
}
#evergreen .icon.hiking {
	background: url('../img/elements/icons-collector.png') 0 -756px;
}
#evergreen .icon.oatmeal {
	background: url('../img/elements/icons-collector.png') -54px 0;
}
#evergreen .icon.raspberries {
	background: url('../img/elements/icons-collector.png') -54px -54px;
}
#evergreen .icon.syrup {
	background: url('../img/elements/icons-collector.png') -54px -108px;
}
#evergreen .icon.ketchup {
	background: url('../img/elements/icons-collector.png') -54px -162px;
}
#evergreen .icon.lemonade {
	background: url('../img/elements/icons-collector.png') -54px -216px;
}
#evergreen .icon.chipsguac {
	background: url('../img/elements/icons-collector.png') -54px -270px;
}
#evergreen .icon.grapes {
	background: url('../img/elements/icons-collector.png') -54px -324px;
}
#evergreen .icon.brownies {
	background: url('../img/elements/icons-collector.png') -54px -378px;
}
#evergreen .icon.hoodie {
	background: url('../img/elements/icons-collector.png') -54px -432px;
}
#evergreen .icon.ball {
	background: url('../img/elements/icons-collector.png') -54px -486px;
}
#evergreen .icon.bat {
	background: url('../img/elements/icons-collector.png') -54px -540px;
}
#evergreen .icon.applebasket {
	background: url('../img/elements/icons-collector.png') -54px -594px;
}
#evergreen .icon.picnic {
	background: url('../img/elements/icons-collector.png') -54px -648px;
}
#evergreen .icon.treehouse {
	background: url('../img/elements/icons-collector.png') -54px -702px;
}
#evergreen .icon.books {
	background: url('../img/elements/icons-collector.png') -54px -756px;
}

/*
Quiz
*/

#quiz {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
	z-index: 9999;
	display: none;
}
#quiz .quiz {
	position: absolute;
	top: 40px;
	left: 400px;
	width: 240px;
}
#quiz .quiz .quiz-body {
	position: relative;
	top: 0px;
	left: 0px;
	width: 220px;
	padding: 0 10px;
	background-color: #FFFFFF;
}
#quiz .quiz .quiz-body .header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 220px;
	height: 42px;
	font-size: 24px;
	line-height: 42px;
	color: #505657;
	border-bottom: 2px solid #9B2A14;
}
#quiz .quiz .quiz-body .question {
	position: relative;
	top: 0px;
	left: 0px;
	width: 220px;
	padding: 10px 0;
	color: #505657;
	font-size: 12px;
	line-height: 16px;
	border-bottom: 1px solid #ACA99C;
}
#quiz .quiz .quiz-body .answer {
	position: relative;
	top: 0px;
	left: 0px;
	width: 220px;
	padding: 8px 0;
	color: #505657;
	font-size: 12px;
	line-height: 16px;
	border-bottom: 1px solid #ACA99C;
	cursor: pointer;
}
#quiz .quiz .quiz-body .answer:last-child {
	border: none;
}
#quiz .quiz .quiz-body .answer .red {
	color: #9B2A14;
	font-size: 16px;
	line-height: 16px;
	margin-right: 8px;
}
#quiz .quiz .result {
	position: relative;
	top: 0px;
	left: 0px;
	width: 220px;
	padding: 10px;
	background-color: #9B2A14;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 16px;
}
#quiz .quiz .exit {
	position: relative;
	top: 0px;
	left: 0px;
	width: 220px;
	padding: 0 10px 10px 10px;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	background-color: #9B2A14;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	cursor: pointer;
}
#quiz .quiz .exit:hover {
	color: #505657;
}

/*
Vin Vasive
*/

#vinvasive {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
	z-index: 9999;
	cursor: pointer;
	display: none;
}
#vinvasive .vinvasive-1, #vinvasive .vinvasive-2 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 329px;
	height: 329px;
	display: none;
}
#vinvasive .evil-words {
	position: absolute;
	top: 24px;
	left: 136px;
	width: 132px;
	height: 48px;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
}

/*
Opening
*/

#opening {
	background-image: url("../img/backgrounds/opening.png");
}
#opening .header {
	position: absolute;
	top: 72px;
	left: 50%;
	width: 600px;
	height: 200px;
	margin: 0 0 0 -300px;
	text-align: center;
	font-size: 72px;
}
#opening .begin {
	position: absolute;
	top: 248px;
	left: 50%;
	width: 208px;
	height: 20px;
	margin: 0 0 0 -104px;
	text-align: center;
	line-height: 20px;
	font-size: 18px;
	cursor: pointer;
}

/*
Kitchen
*/

#kitchen {
	background-image: url("../img/backgrounds/kitchen.png");
}

/*
Garage
*/

#garage {
	background-image: url("../img/backgrounds/garage.png");
}

/*
Outdoors
*/

#outdoors {
	background-image: url("../img/backgrounds/outdoors.png");
}

/*
Final
*/

#final {
	position: absolute;
	width: 964px;
	height: 550px;
	color: #505657;
}
#final .all-icons {
	position: absolute;
	top: 72px;
	width: 960px;
	height: 288px
}
#final .all-icons .icon {
	position: absolute;
	width: 96px;
	height: 96px;
	display: none;
}
#final .all-icons .icon.selected {
	display: block;
}
#final .cta-1 {
	display: block;
}
#final .cta-2 {
	display: none;
}
#final .cta-1 .cta-head, #final .cta-2 .cta-head {
	position: absolute;
	top: 376px;
	left: 0px;
	width: 920px;
	height: 96px;
	padding: 12px 20px;
	font-size: 32px;
	line-height: 48px;
}
#final .cta-3 {
	display: none;
}
#final .cta-3 .cta-head {
	position: absolute;
	top: 376px;
	left: 0px;
	width: 920px;
	height: 48px;
	padding: 12px 20px;
	font-size: 28px;
	line-height: 48px;
}
#final .cta-3 .cta-body {
	position: absolute;
	top: 440px;
	left: 0px;
	width: 920px;
	height: 40px;
	padding: 8px 20px;
	font-size: 16px;
	line-height: 20px;
}

/*
Final - Unique Icons
*/

#final .icon.oatmeal {
	top: 0px;
	left: 0px;
	background: url('../img/elements/icons.png') 0 0;
}
#final .icon.oatmeal.inactive {
	background: url('../img/elements/icons.png') -96px 0;
}
#final .icon.sketchpad {
	top: 0px;
	left: 96px;
	background: url('../img/elements/icons.png') -192px 0;
}
#final .icon.sketchpad.inactive {
	background: url('../img/elements/icons.png') -288px 0;
}
#final .icon.flowers {
	top: 0px;
	left: 192px;
	background: url('../img/elements/icons.png') -384px 0;
}
#final .icon.flowers.inactive {
	background: url('../img/elements/icons.png') -480px 0;
}
#final .icon.hiking {
	top: 0px;
	left: 288px;
	background: url('../img/elements/icons.png') -576px 0;
}
#final .icon.hiking.inactive {
	background: url('../img/elements/icons.png') -672px 0;
}
#final .icon.treehouse {
	top: 0px;
	left: 384px;
	background: url('../img/elements/icons.png') -768px 0;
}
#final .icon.treehouse.inactive {
	background: url('../img/elements/icons.png') -864px 0;
}
#final .icon.ketchup {
	top: 0px;
	left: 480px;
	background: url('../img/elements/icons.png') -960px 0;
}
#final .icon.ketchup.inactive {
	background: url('../img/elements/icons.png') -1056px 0;
}
#final .icon.apples {
	top: 0px;
	left: 576px;
	background: url('../img/elements/icons.png') -1152px 0;
}
#final .icon.apples.inactive {
	background: url('../img/elements/icons.png') -1248px 0;
}
#final .icon.nuts {
	top: 0px;
	left: 672px;
	background: url('../img/elements/icons.png') -1344px 0;
}
#final .icon.nuts.inactive {
	background: url('../img/elements/icons.png') -1440px 0;
}
#final .icon.grapes {
	top: 0px;
	left: 768px;
	background: url('../img/elements/icons.png') -1536px 0;
}
#final .icon.grapes.inactive {
	background: url('../img/elements/icons.png') -1632px 0;
}
#final .icon.swing {
	top: 0px;
	left: 864px;
	background: url('../img/elements/icons.png') -1728px 0;
}
#final .icon.swing.inactive {
	background: url('../img/elements/icons.png') -1824px 0;
}
#final .icon.ball {
	top: 96px;
	left: 0px;
	background: url('../img/elements/icons.png') 0px -96px;
}
#final .icon.ball.inactive {
	background: url('../img/elements/icons.png') -96px -96px;
}
#final .icon.orangejuice {
	top: 96px;
	left: 96px;
	background: url('../img/elements/icons.png') -192px -96px;
}
#final .icon.orangejuice.inactive {
	background: url('../img/elements/icons.png') -288px -96px;
}
#final .icon.chipsnguac {
	top: 96px;
	left: 192px;
	background: url('../img/elements/icons.png') -384px -96px;
}
#final .icon.chipsnguac.inactive {
	background: url('../img/elements/icons.png') -480px -96px;
}
#final .icon.bananas {
	top: 96px;
	left: 288px;
	background: url('../img/elements/icons.png') -576px -96px;
}
#final .icon.bananas.inactive {
	background: url('../img/elements/icons.png') -672px -96px;
}
#final .icon.magazines {
	top: 96px;
	left: 384px;
	background: url('../img/elements/icons.png') -768px -96px;
}
#final .icon.magazines.inactive {
	background: url('../img/elements/icons.png') -864px -96px;
}
#final .icon.lemonade {
	top: 96px;
	left: 480px;
	background: url('../img/elements/icons.png') -960px -96px;
}
#final .icon.lemonade.inactive {
	background: url('../img/elements/icons.png') -1056px -96px;
}
#final .icon.corn {
	top: 96px;
	left: 576px;
	background: url('../img/elements/icons.png') -1152px -96px;
}
#final .icon.corn.inactive {
	background: url('../img/elements/icons.png') -1248px -96px;
}
#final .icon.bike {
	top: 96px;
	left: 672px;
	background: url('../img/elements/icons.png') -1344px -96px;
}
#final .icon.bike.inactive {
	background: url('../img/elements/icons.png') -1440px -96px;
}
#final .icon.macncheese {
	top: 96px;
	left: 768px;
	background: url('../img/elements/icons.png') -1536px -96px;
}
#final .icon.macncheese.inactive {
	background: url('../img/elements/icons.png') -1632px -96px;
}
#final .icon.brownies {
	top: 96px;
	left: 864px;
	background: url('../img/elements/icons.png') -1728px -96px;
}
#final .icon.brownies.inactive {
	background: url('../img/elements/icons.png') -1824px -96px;
}
#final .icon.picnic {
	top: 192px;
	left: 0px;
	background: url('../img/elements/icons.png') 0 -192px;
}
#final .icon.picnic.inactive {
	background: url('../img/elements/icons.png') -96px -192px;
}
#final .icon.puppy {
	top: 192px;
	left: 96px;
	background: url('../img/elements/icons.png') -192px -192px;
}
#final .icon.puppy.inactive {
	background: url('../img/elements/icons.png') -288px -192px;
}
#final .icon.hoodie {
	top: 192px;
	left: 192px;
	background: url('../img/elements/icons.png') -384px -192px;
}
#final .icon.hoodie.inactive {
	background: url('../img/elements/icons.png') -480px -192px;
}
#final .icon.books {
	top: 192px;
	left: 288px;
	background: url('../img/elements/icons.png') -576px -192px;
}
#final .icon.books.inactive {
	background: url('../img/elements/icons.png') -672px -192px;
}
#final .icon.peanutbutter {
	top: 192px;
	left: 384px;
	background: url('../img/elements/icons.png') -768px -192px;
}
#final .icon.peanutbutter.inactive {
	background: url('../img/elements/icons.png') -864px -192px;
}
#final .icon.syrup {
	top: 192px;
	left: 480px;
	background: url('../img/elements/icons.png') -960px -192px;
}
#final .icon.syrup.inactive {
	background: url('../img/elements/icons.png') -1056px -192px;
}
#final .icon.bat {
	top: 192px;
	left: 576px;
	background: url('../img/elements/icons.png') -1152px -192px;
}
#final .icon.bat.inactive {
	background: url('../img/elements/icons.png') -1248px -192px;
}
#final .icon.applebasket {
	top: 192px;
	left: 672px;
	background: url('../img/elements/icons.png') -1344px -192px;
}
#final .icon.applebasket.inactive {
	background: url('../img/elements/icons.png') -1440px -192px;
}
#final .icon.pancakes {
	top: 192px;
	left: 768px;
	background: url('../img/elements/icons.png') -1536px -192px;
}
#final .icon.pancakes.inactive {
	background: url('../img/elements/icons.png') -1632px -192px;
}
#final .icon.raspberries {
	top: 192px;
	left: 864px;
	background: url('../img/elements/icons.png') -1728px -192px;
}
#final .icon.raspberries.inactive {
	background: url('../img/elements/icons.png') -1824px -192px;
}