/*
Font Styles
*/

/*
Color Palette
*/

.yllw {
	color: rgba(229, 196, 57, 1);
}
.frst {
	color:rgba(0, 91, 38, 1) ;
}

/*
Animations
*/

@-webkit-keyframes wiggle {
    0% {-webkit-transform: translate(0px, 0px);}
    25% {-webkit-transform: translate(0px, -3px);}
    50% {-webkit-transform: translate(0px, -4px);}
    75% {-webkit-transform: translate(0px, -3px);}
    100% {-webkit-transform: translate(0px, 0px);}

}

/*
General Styles
*/

#interactive-wrapper {
	position: relative;
	width: 964px;
	height: 550px;
	margin: 0 auto;
	overflow: hidden;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}
#interactive-wrapper:focus {
	outline: none;
}
#interactive-wrapper .viewport {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
	overflow: hidden;
}
#interactive-wrapper .viewport .scenes {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 2750px;
}
#interactive-wrapper .viewport .scenes .scene {
	position: relative;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
}
#interactive-wrapper .viewport .scenes .scene .subscene {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
}
#interactive-wrapper .viewport .scenes .scene .mask, #interactive-wrapper .viewport .scenes .scene .img-mask {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
	opacity: .5;
	display: none;
}
#interactive-wrapper .viewport .scenes .scene .interactive-element {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 964px;
	height: 550px;
	z-index: 100;
}
#interactive-wrapper .viewport .scenes .scene .interactive-element .item {
	opacity: 1;
}
#interactive-wrapper .viewport .scenes .scene .interactive-element .item.selectable:hover {
	cursor: pointer;
	-webkit-animation-name: wiggle;
    -webkit-animation-duration: .4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}
#interactive-wrapper .viewport .scenes .scene .interactive-element .item.selected {
	/*display: none;*/
}
#interactive-wrapper .icon {
	width: 40px;
	height: 40px;
}

/*
Unique Icons
*/

#interactive-wrapper .icon.oatmeal {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.oatmeal.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.sketchpad {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.sketchpad.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.flowers {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.flowers.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.hiking {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.hiking.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.treehouse {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.treehouse.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.ketchup {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.ketchup.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.apples {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.apples.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.nuts {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.nuts.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.grapes {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.grapes.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.swing {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.swing.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.ball {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.ball.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.orangejuice {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.orangejuice.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.chipsguac {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.chipsguac.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.bananas {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.bananas.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.magazines {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.magazines.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.lemonade {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.lemonade.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.corn {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.corn.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.bike {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.bike.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.macncheese {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.macncheese.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.brownies {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.brownies.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.picnic {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.picnic.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.puppy {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.puppy.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.hoodie {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.hoodie.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.books {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.books.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.peanutbutter {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.peanutbutter.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.syrup {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.syrup.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.bat {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.bat.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.applebasket {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.applebasket.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.pancakes {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.pancakes.active {
	background: url('../img/elements/icons.png') -40 0;
}
#interactive-wrapper .icon.raspberries {
	background: url('../img/elements/icons.png') 0 0;
}
#interactive-wrapper .icon.raspberries.active {
	background: url('../img/elements/icons.png') -40 0;
}


/*
Evergreen
*/

#evergreen .progress-bar {
	position: absolute;
	top: 0px;
	left: 8px;
	width: 48px;
	height: 486px;
	z-index: 1000;
}
#evergreen .progress-bar .bar {
	position: relative;
	width: 48px;
	height: 120px;
	margin: 4px 0;
}
#evergreen .progress-bar .bar .bar-stem {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 12px;
	height: 104px;
	padding: 8px 0;
	background-color: rgba(42, 255, 121, .9);
}
#evergreen .progress-bar .bar .bar-stem .inner {
	position: absolute;
	top: 8px;
	left: 4px;
	width: 4px;
	height: 104px;
	background-color: rgba(186, 216, 76, .5);
}
#evergreen .progress-bar .bar .bar-leaf {
	position: absolute;
	top: 42px;
	left: 12px;
	height: 32px;
	width: 36px;
	border-radius: 0px 8px 8px 0px;
	background-color: rgba(94, 191, 38, .9);
	color: #ffffff;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}
#evergreen .progress-bar .bar.complete .bar-stem {
	background-color: rgba(90, 117, 45, .9);
}
#evergreen .progress-bar .bar.complete .bar-stem .inner {
	background-color: rgba(68, 89, 28, .5);
}
#evergreen .notepad {
	position: absolute;
	top: -3px;
	right: 20px;
	width: 132px;
	height: 486px;
	background-image: url("../img/elements/notepad.png");
	z-index: 1000;
}

/*
Opening
*/

#opening {
	background-image: url("../img/backgrounds/opening.png");
}
#opening .header {
	position: absolute;
	top: 72px;
	left: 50%;
	width: 600px;
	height: 200px;
	margin: 0 0 0 -300px;
	text-align: center;
	font-size: 72px;
}
#opening .begin {
	position: absolute;
	top: 248px;
	left: 50%;
	width: 208px;
	height: 20px;
	margin: 0 0 0 -104px;
	text-align: center;
	line-height: 20px;
	font-size: 18px;
	cursor: pointer;
}

/*
Kitchen
*/

#kitchen {
	background-image: url("../img/backgrounds/kitchen.png");
}

/*
Garage
*/

#garage {
	background-image: url("../img/backgrounds/garage.png");
}

/*
Outdoors
*/

#outdoors {
	background-image: url("../img/backgrounds/outdoors.png");
}

/*
Final
*/

#final {
	position: absolute;
	width: 964px;
	height: 550px;
}